<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>CSS MenuMaker</title>
</head>
<body>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span><%=link_to "Home", "/users/#{current_user.id}" %></span></a></li>
   <li><a href='#'><span><%=link_to "Preferences", "/categories" %><span></a></li>
   <li><a href='#'><span>History</span></a></li>
   <li><a href='#'><span>Charities</span></a></li>
   <li class='last'><a href='#'><span><%=link_to 'Edit Profile', edit_user_registration_path %></span></a></li>
</ul>
</div>

</body>
<html>

<li></li>