<div class="welcome_section">
<div class="row">
  <div class="col-md-7 text-left">
      <div class="intro_section">

        <h1 class="intro white-text">Your Money. Our Time.</h1>

        <p class="transparent-text">Simply put, donating money to charity is not as easy as it should be. [INSERT NAME] attempts to create a streamlined platform for automated donations.</p>

        <div class="button hidden-xs">
          <a href="#section2" class="btn btn-primary secondary-button">Learn More</a>
        </div>
      </div>
  </div>
  <div class="col-md-5 pull-right">
    <%= render :partial => 'devise/registrations/sign_in' %>
  </div>
</div>
</div>

<section class="team grey-bg" id="section1">
        <div class="container">
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    About Us
                </div>
                <h2 class="dark-text"><strong>Team</h2>
                <div class="colored-line">
                </div>
            </div>

            <!-- MEMBERS -->
            <div class="row wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">

                <!-- MEMBER -->
                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <%= image_tag("vijay.jpg", :size => "200x200") %>
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Vijay Edupuganti</h5>
                            <div class="small-text">
                                University of Virginia
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBER -->
                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <%= image_tag("alex.jpg", :size => "200x200") %>
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Alex Bailey</h5>
                            <div class="small-text">
                                University of Virginia
                            </div>
                        </div>
                        <ul class="social-icons">
                        </ul>
                    </div>
                </div>

                <!-- MEMBER -->
                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <%= image_tag("max.jpg", :size => "200x200") %>
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Max Martin</h5>
                            <div class="small-text">
                                Yale University
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

<section class="services grey-bg" id="section2">
        <div class="container">
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    SERVICES
                </div>
                <h2><strong>Automated</strong> Donations</h2>
            </div>

            <div class="row">

                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-basic-webpage-multiple"></span>
                        </div>
                        <h3>Users</h3>
                        <p>
                            Users will be able to set a limit of how much money they want to allot to donate on a monthly basis.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-ecommerce-graph3"></span>
                        </div>
                        <h3>[COMPANY NAME]</h3>
                        <p>
                            [COMPANY NAME] will donate the users’ money to charities that are in need based on real world events.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-basic-geolocalize-05"></span>
                        </div>
                        <h3 class="colored-text">Together</h3>
                        <p>
                           Together we ensure that donated money is going to the right charities and has a meaningful and long-lasting impact.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>