<div class="row">
  <div class="col-md-7 text-left">
    <div class="first_page">
      <div class="intro_section">

        <h1 class="intro white-text">Your Money. Our Time.</h1>

        <p class="transparent-text">Simply put, donating money to charity is not as easy as it should be. [INSERT NAME] attempts to create a streamlined platform for automated donations.</p>

        <div class="button hidden-xs">
          <a href="#section1" class="btn btn-primary secondary-button">Learn More</a>
        </div>
      </div>

    </div>

  </div>
  <div class="col-md-5 pull-right">
    <%= render :partial => 'devise/registrations/sign_in' %>
  </div>
</div>
