// Import fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);$primary-background-color: #3D3235;

// Our own variables
$primary-font-family: Open Sans, sans-serif;
$fancy-font-family: Lora, sans-serif;

// Overriding Bootstrap variables
$font-family-sans-serif: $primary-font-family;
$brand-danger: #87255B;

@import 'bootstrap';
@import 'styles';