
html {
	font-size: 100%;
}

body {
	font-family: 'Open Sans', Helvetica Neue, Sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #313131;
	text-align: center;
	margin: 20px 20px 20px 20px;
}

.welcome_screen {
	background-color: #81a4ed;
}


.registration_form {
	background: #ffffff;
	padding: 20px 40px 40px 40px;
	margin: 50px 50px 50px 0px;
	float: center;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px 0px #000000;
	box-shadow: 0px 0px 3px 0px #000000;
	text-align: center;

}

.intro_section {
	margin-top: 110px;
}

.intro_section p {
	margin-top: 30px;
	margin-bottom: 40px;
}

.single-service {
	padding: 40px 35px 40px 35px;
	margin: 0 0 100px 0;
	background: #ffffff;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-bottom: 4px solid #eaeaea;
	border-radius: 3px;
	-webkit-transition: all ease 0.55s;
	transition: all ease 0.55s;
}

.single-service .service-icon {
	font-size: 60px;
	margin-bottom: 35px;
}

.single-service h3 {
	margin-bottom: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Capriola);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
  width: auto;
  height: 59px;
  padding-bottom: 4px;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#cssmenu ul {
  height: 59px;
}
#cssmenu ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
  background: url('images/bg.png');
  color: #ffffff;
}