<%= render :partial => 'users/usernavbar' %>

<h1>Categories</h1>


<% @categories.each do |category| %>
	<%= image_tag category.avatar.url(:thumb) %>
	<%= link_to category.title, "categories/#{category.id}" %>
<% end %>